<div class="container">

    <p-card class="container card" header="{{ editando ? 'Edição de' : 'Novo' }} Professor">
        <form #professorForm="ngForm" autocomplete="off" (ngSubmit)="salvar(professorForm)">

            <div class="p-grid">
                <div class="p-col-12 p-fluid">
                    <label>Nome do Professor</label>
                    <input pInputText type="text" name="nomeProf"
                    [(ngModel)]="profObject.nome" #nomeProf="ngModel" required minlength="5">

                    <app-message [control]="nomeProf.control" error="required"
                    text="Informe o nome do professor"></app-message>
                    <app-message [control]="nomeProf.control" error="minlength"
                    text="Mínimo de {{ nomeProf.errors?.minlength?.requiredLength }} caracteres"></app-message>
                </div>

                <div class="p-col-12 p-fluid">
                    <label>CPF</label>
                    <p-inputMask mask="999.999.999-99" name="cpf" [unmask]="true"
                        [(ngModel)]="profObject.cpf" #cpf="ngModel" minlength="3" [required]="true"></p-inputMask>

                    <app-message [control]="cpf.control" error="required"
                    text="Informe o cpf do professor"></app-message>
                    <app-message [control]="cpf.control" error="minlength"
                    text="O texto deve ter {{ cpf.errors?.minlength?.requiredLength }} caracteres"></app-message>
                </div>

                <div class="p-col-12 p-fluid">
                  <label>Salário</label>
                  <p-inputNumber [required]="true" name="salario"  [(ngModel)]="profObject.salario"  #salario="ngModel" mode="currency"currency="BRL" locale="pt-br"></p-inputNumber>

                  <app-message [control]="salario.control" error="required"
                  text="Informe o salário do professor"></app-message>
              </div>


                <div class="p-col-12">
                    <button pButton type="submit" label="Salvar" [disabled]="professorForm.invalid"></button>
                    <button pButton type="button" label="Limpar" class="p-button-info"
                    (click)="novo(professorForm)"></button>

                    <a [routerLink]="['/professores']">Voltar para a pesquisa</a>
                </div>
            </div>
        </form>
    </p-card>
</div>
