<div class="container">

    <p-card class="container card" header="{{ editando ? 'Edição de' : 'Novo' }} Curso">
      <form #cursoForm="ngForm" autocomplete="off" (ngSubmit)="salvar(cursoForm)">

        <div class="p-grid">
          <div class="p-col-12 p-fluid">
            <label>Nome curso</label>
            <input pInputText type="text" name="nome"
              [(ngModel)]="curso.nome" #nomeCurso="ngModel" required>

            <app-message [control]="nomeCurso.control" error="required"
              text="Informe o nome do curso"></app-message>
          </div>

          <div class="p-col-12 p-fluid">
            <label>Nome do Professor</label>
            <p-dropdown name="nomeProfessor" [options]="professor"
              placeholder="Selecione" requiredboolean [filter]="true"
              [(ngModel)]="curso.professor.codigo" #nomeProfessor="ngModel"></p-dropdown>

            <app-message [control]="nomeProfessor.control" error="requiredboolean"
              text="Informe o nome do professor"></app-message>
          </div>

          <div class="p-col-12" *ngIf="editando">
            <label>Matricular Alunos</label>
            <br>
            <p-dropdown name="nomeAluno" [options]="alunosSelection"
              placeholder="Selecione"  [filter]="true"
              [(ngModel)]="aluno.codigo" styleClass="medium-size" #nomeAluno="ngModel"></p-dropdown>

            <button type="button" pButton (click)="adicionarAluno()" [disabled]="!isAdicionar" icon="pi pi-plus-circle"></button>
            <br>
            <div class="p-grid top">
              <div class="p-col-12">
                <p-table
                  [value]="alunos"
                  [responsive]="true"
                  responsiveLayout="scroll"
                  [scrollable]="true" scrollHeight="15vh"
                  #tabela>
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="col-header">Nome do Aluno</th>
                      <th class="col-header">Matrícula</th>
                      <th class="col-acoes"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-aluno>
                    <tr>
                      <td class="col-data-center">
                        <span class="p-column-title">Nome do Aluno</span>
                        {{ aluno.nome }}
                      </td>

                      <td class="col-data-center">
                        <span class="p-column-title">Matrícula</span>
                        {{ aluno.matricula }}
                      </td>

                      <td class="col-acoes">
                        <button pButton type="button" icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                          (click)="confirmarExclusaoAluno(aluno)"></button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        Nenhum aluno cadastrado nesse curso
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>


          <div class="p-col-12">
            <button pButton type="submit" label="Salvar" [disabled]="cursoForm.invalid"></button>
            <button pButton type="button" label="Limpar" class="p-button-info"
              (click)="novo(cursoForm)"></button>
              <a [routerLink]="['/cursos']">Voltar para a pesquisa</a>
          </div>
        </div>
      </form>
    </p-card>
</div>
