<div class="container">

    <div class="p-col-12">
      <h1>Professores</h1>
    </div>

    <div class="p-grid top">
      <div class="p-col-12">
        <p-table
          [value]="professores"
          [responsive]="true"
          responsiveLayout="scroll"
          [scrollable]="true" scrollHeight="60vh"
          #tabela>
          <ng-template pTemplate="header">
            <tr>
              <th class="col-header">Nome</th>
              <th class="col-header">CPF</th>
              <th class="col-header">Salário</th>
              <th class="col-header">Ministra curso</th>
              <th class="col-acoes"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-prof>
            <tr>
              <td class="col-data-center">
                <span class="p-column-title">Nome</span>
                {{ prof.nome }}
              </td>

              <td class="col-data-center">
                <span class="p-column-title">Cpf</span>
                {{ prof.cpf | cpfTransform }}
              </td>

              <td class="col-data-center">
                <span class="p-column-title">Salário</span>
                {{ prof.salario | currency:'BRL' }}
              </td>
              <td class="col-data-center">
                <span class="p-column-title">Ministra curso</span>
                {{ prof.professorMinistraCurso | simOuNao }}
              </td>

              <td class="col-acoes">
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/professores', prof.codigo]"></a>
                <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                  (click)="confirmarExclusao(prof)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">
                Nenhum professor encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <a pButton label="Novo Professor" routerLink="/professores/novo"></a>

</div>
