<nav class="navbar">

  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="trocarValorMenu()"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

</nav>


<div class="fundo-escurecido" (click)="trocarValorMenu()" [ngStyle]="{display: exibindoMenu ? 'block' : 'none'}">

</div>
<ul class="navbar-menu" [class.menuShow]="exibindoMenu">
  <li class="navbar-usuario">DASHBOARD</li>
  <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/alunos" (click)="trocarValorMenu()">Alunos</a></li>
  <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/cursos" (click)="trocarValorMenu()">Cursos</a></li>
  <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/professores" (click)="trocarValorMenu()">Professores</a></li>
</ul>
