.navbar {
    padding: 20px 0 10px;
    background-color: #000000;
}

.navbar-toggle {
    color: #fff;
}

.navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -333px;
    width: 210px;
    margin: 0;
    padding: 0;
    z-index: 9998;

    background-color: #3a3633;

    list-style: none;
    transition: .5s;
}

.navbar-menu.menuShow {
  right: 0;
}

.navbar-usuario {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #525151;

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.navbar-menuitem {
    padding: 15px;
}

.navbar-menuitem a {
    color: #c0bbb7;
    text-decoration: none;
}

.navbar-menuitem a:hover {
    color: #fff;
}

.navbar-menuitem.ativo {
    background-color: #494541;
}

.fundo-escurecido {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 9997;
}
