<div class="container">

  <div class="p-col-12">
    <h1>Alunos</h1>
  </div>

  <div class="p-grid top">
    <div class="p-col-12">
      <p-table
        [value]="alunos"
        [responsive]="true"
        responsiveLayout="scroll"
        [scrollable]="true" scrollHeight="60vh"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th class="col-header">Nome</th>
            <th class="col-header">Matrícula</th>
            <th class="col-header">CPF</th>
            <th class="col-header">Está matriculado em curso</th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aluno>
          <tr>
            <td class="col-data-center">
              <span class="p-column-title">Nome</span>
              {{ aluno.nome }}
            </td>

            <td class="col-data-center">
              <span class="p-column-title">Matrícula</span>
              {{ aluno.matricula }}
            </td>

            <td class="col-data-center">
              <span class="p-column-title">Cpf</span>
              {{ aluno.cpf | cpfTransform }}
            </td>
            <td class="col-data-center">
              <span class="p-column-title">Está matriculado em curso</span>
              <span>{{ aluno.alunoMatriculadoEmCurso | simOuNao}}</span>
            </td>

            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/alunos', aluno.codigo]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(aluno)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum aluno encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <a pButton label="Novo Aluno" routerLink="/alunos/novo"></a>

</div>
