<div class="container">

  <p-card class="container card" header="{{ editando ? 'Edição de' : 'Novo' }} Professor">
      <form #alunoForm="ngForm" autocomplete="off" (ngSubmit)="salvar()">

          <div class="p-grid">
              <div class="p-col-12 p-fluid">
                  <label>Nome do Aluno</label>
                  <input pInputText type="text" name="nomeAluno"
                  [(ngModel)]="alunoDTO.nome" #nomeAluno="ngModel" required minlength="5">

                  <app-message [control]="nomeAluno.control" error="required"
                  text="Informe o nome do professor"></app-message>
                  <app-message [control]="nomeAluno.control" error="minlength"
                  text="Mínimo de {{ nomeAluno.errors?.minlength?.requiredLength }} caracteres"></app-message>
              </div>

              <div class="p-col-12 p-fluid">
                  <label>CPF</label>
                  <p-inputMask mask="999.999.999-99" name="cpf" [unmask]="true"
                      [(ngModel)]="alunoDTO.cpf" #cpf="ngModel" [required]="true"></p-inputMask>

                  <app-message [control]="cpf.control" error="required"
                  text="Informe o cpf do professor"></app-message>
              </div>

              <div class="p-col-12 p-fluid">
                <label>Matrícula</label>
                <p-inputMask mask="99999999999" name="matricula" [unmask]="true"
                    [(ngModel)]="alunoDTO.matricula" #matricula="ngModel" [required]="true"></p-inputMask>

                <app-message [control]="matricula.control" error="required"
                text="Informe o cpf do professor"></app-message>
              </div>

              <div class="p-col-12">
                  <button pButton type="submit" label="Salvar" [disabled]="alunoForm.invalid"></button>
                  <button pButton type="button" label="Limpar" class="p-button-info"
                  (click)="novo()"></button>

                  <a [routerLink]="['/alunos']">Voltar para a pesquisa</a>
              </div>
          </div>
      </form>
  </p-card>
</div>

